@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a
{
	text-decoration: none;
	color: red;
}

#header {
  background-color: #E8E8E8;
	position: inherit;
	display: block;
}
.container {
  /**/
}
.navbar-brand {
  font-size: 35px;
  font-family: 'Alfa Slab One', cursive;
  color: red;
}
.navbar-brand:hover {
  color: red;
}
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Active/current link */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}
 Style the input container 
.login-container {
  float: right;
  margin-bottom: 10px;
}
/* Style the input field inside the navbar */
input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px;  /*adjust as needed (as long as it doesn't break the topnav) */
}
/* Style the button inside the input container */
button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.login-container button:hover {
  background: #ccc;
}
.row {
  border-bottom: 1px solid #4388A2;
  width: 100%;
  margin-left: 1px;
}
.login {
  border-radius: 5px;
}
.col-1 {
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.row .col-1 a {
  text-decoration: none;
  color: black;
}
.col {
    /**/
}
.text {
  width: 90%;
  margin-left: px;
}
.mini-text-1 {
  text-decoration: none;
  text-align: justify;
  	font-size: 18px;
}
.flex-grow-1 {
  margin-bottom: 10px;
}
#mini-img {
  width: 50%;
  float: left;
}
.mini-text {
  float: left;
  font-size: 15px;
  text-align: justify;
  color: black;
}
/* CSS Document */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  /**/
}
#header {
  background-color: #FFE3A7;
}
.navbar-brand {
  font-size: 35px;
  font-family: 'Alfa Slab One', cursive;
	color: red;
}
.navbar-brand:hover {
  color: red;
}
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
 Navbar links 
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Active/current link */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}
/*
 Style the input container 

 Style the input field inside the navbar 
*/
input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px;  /*  adjust as needed (as long as it doesn't break the topnav) */
}
/* Style the button inside the input container */
button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.login-container button:hover {
  background: #ccc;
}
.row {
  /**/
  width: 100%;
  margin-left: 1px;
}
.login {
  border-radius: 5px;
}
.col-1 {
  padding: 5px;
  border-radius: 5px; 
  /**/
	text-align: center;
}
.row .col-1 a {
  text-decoration: none;
  color: black;
}
.login {
  border-radius: 5px;
}
.searchform {
  width: 200px;
}
.logo
{
	font-family: 'Alfa Slab One', cursive;
	color: red;	
	float: left;
  	padding-left: 20px;
	padding-top: 5px;
}
.header
{
	background-color: #FFE3A7;
}
a:hoover none
{
	text-decoration: none;
}

#logo
{
	width: 100px;
	height: 100px;
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}
.header {
/*	position: fixed;*/
    height: 120px;
    border-radius: 3px;
    width: 100%;
    background: #F3EAEA;
    margin-bottom: 20px;
}

.header_text {
    float: left;
    padding: 35px 0 10px 20px;
    color: rgb(139, 25, 25);
}

.header_text h2 {
    font-weight: 900;
    margin: 0;
}

.header_text p {
    margin: 0;
    font-weight: 800;
}

.footer {
    clear: both;
    text-align: center;
    height: 170px;
    background-color: rgba(179, 175, 175, 0.589);
    padding-top: 10px;
    border-radius: 3px;
	line-height: 1.2;
}
.footer_img {
    float: left;
		}

.footer_img img{
   padding-top: 50px;
    height: 50px;
	width: 150px;
}

.right{
	width: 300px;
	float: right;
	position: fixed;
}
.td{
	width: 300px;
	height: 100px;
	padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.hinh{
	width: 135px;
	float: left;
}
.hinh:hover img{
	transform: scale(1.5);
}
.nd{
	width: 155px;
	float: right;
}
.nd a{
	text-decoration: none;
	font-weight: bold;
	color: black;
}
.tdt{
	width: 300px;
	height: 300px;
	padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.tdth:hover img{
	transform: scale(1.5);
}
.tdtnd{
	width: 300px;
	height: 20px;
	float: left;
}
.tdtnd a{
	text-decoration: none;
	font-weight: bold;
	color: black;
}
.left-inf
{
	border: solid 1px;
	margin-right: 100px;
	height: 100%;
}
.bookmark
{
	margin-top: 10px;
	font-size: 30px;
}
#sub-title 
{
	font-size: 20px;
	
}
#line
{
	width: 200px;
	height: 1.5px;
	border-radius: 10px;
}
.main-title
{
	width: 90%
}
.title
{
	font-size: 40px;
}
.mid
{
	width: 90%;
	margin-left: 100px;
}
.open-content
{
	width: 90%
}
.material-symbols-outlined
{
	font-size: 40px;
}
.picture
{
margin: auto;	
}
#picture
{
	width: 500px;
	height: 350px;
	margin-left: 145px;
}
.note
{
	margin-left: 145px;
}
.pagragraph
{
	width: 90%;
	margin-left: 0px;
	font-family: 'Roboto', sans-serif;
} 
.comment-box
{
	margin-left:-35px;
	width: 90%;
}
.ratings-wrapper{
   border: thin solid #999;
   display: inline-block;
   margin-bottom: 20px;
}
.ratings{
	display: flex;
   flex-direction: row-reverse;
	padding-right: 34px;
	padding-top: 20px;
}
.ratings span{
   cursor: pointer;
   transition: color .2s;
   font-size: 30px;
}
.ratings span:hover{
   color: orange;
}
.ratings span:hover ~ span{
   color: orange;
}
.ratings span[data-clicked]{
   color: orange;
}
.ratings span[data-clicked] ~ span{
   color: orange;
}
.reset{
	font-size: 18px;
	text-decoration: none;
	background-color: #4f5a78;
	padding: 15px 50px;
	display: inline-block;
	margin-top: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
}
.reset:hover{
	filter: brightness(1.2);
}
/*
.body1{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/
.footer-1
{
	width: 33%;
	height: 100%;
	float: left;
}
.footer-2
{
	/**/
	width: 100%;
	height: 100%;
	margin: auto;
}
.footer-3
{
	width: 30%;
	height: 100%;
}
.logo-footer
{
	margin-top: 50px;
	margin-left: 70px;
}
.logof
{
	font-size: 45px;
  font-family: 'Alfa Slab One', cursive;
	color: red;
}
.sv
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin-top:4px;
}
